@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu+Mono&display=swap');

:root {
  --primary-color: #0000FF;
}

input[type="email"] {
  border-radius: 0;
} 

input[type="password"] {
  border-radius: 0;
} 

input[type="email"]:focus {
  border: 1px solid var(--primary-color);
  outline: none !important;
} 

input[type="password"]:focus {
  border: 1px solid var(--primary-color);
  outline: none !important;
} 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
  /* background-color: #faebd7; */
}

a {
  text-decoration: none;
}

placeholder {
  font-size: 12px;
}

.Home-nav li {
  color: #000;
}

.logo {
  font-size: 2rem;
  color: #000;
  transition: all 0.3s;
}

.logo:hover {
  color: #000;
}

.Home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 0.5rem;

  /* background-color: #ffff00; */
  height: 60px;
}

.Home-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-Items {
  color: #808080;
  margin-right: 2rem;
  font-size: 21px;
}

.nav-Items:hover {
  color: var(--primary-color)
}

.blogs--section {
  display: flex;
  background-color: #050541;
  height: auto;
  width: 100%;
  padding: 2rem;
}

.blogs--section--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.blogs--section--intro {
  border-bottom: 1px solid #f5ded3;
  padding: 5px 
}

.blogs--section--items ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  list-style: none;
}

.blogs--section--item {
  cursor: pointer;
  margin-left: 2rem;
  transition: all 0.3s ease-in-out;
}

.blogs--section--item:hover {
  transform: translateY(-3px);
}

/* Bloglist Style */
.blogs--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f5f5f5;
  color: #000000;
  padding: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
  cursor: pointer;
}

.blog:hover {
  transform: translate(5px, -5px);
}

.blog-tools {
  display: flex;
  justify-content: space-between;
}

.category {
  background: linear-gradient(to right, #63639b, #fff );
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: 900;
}

@media screen and (max-width: 500px) {
  .hero-section,
  .blogs--section {
    width: 150vw;
  }
  
}